@charset "UTF-8";
/*<link rel="stylesheet" href="kadai.css">をHTMLに記述*/

/*「要素と背景色の対応」の表を参照
ブラウザのウィンドウを縮小しても、#mainが700px
#menuは300pxで表示
header、footerの横幅は、1000px

要素  背景色
header  #ffcccc
#main   #ccffcc
#menu   #ccccff
footer  #ffccff*/

/*画面の横幅を縮める際に、wrapperで要素の頭に記述することで幅の固定が可能になるが、
<wrapper> タグは実際にはHTML5の標準ではなく、代わりに <div> 要素を使用する必要があります。
そのため、<div> 要素を使って、wrapperの役割を果たすコンテナを作成することができます。*/

.container {
  width: 1000px; /*ブラウザのウィンドウを縮小しても、コンテンツが1000pxで固定される*/
  /*margin: 0 auto;*/ /*水平方向に中央揃え*/
}

/*サイズ*/
header{
    width:1000px;/*横*/
    height: 20px;/*高さ*/
    background-color:#ffcccc;
}

/*メイン*/
#main {
  width: 700px;
  height: 500px;
  background-color: #ccffcc;
  float: left;/*要素を左に寄せる*/
}

/*メニュー*/
#menu{
    width:300px;
    height: 500px;
    background-color:#ccccff;
    float: left;/*縦に3つ並んでいた要素が左から順番に横並びになります。*/
}

footer{
    width:1000px;
    height: 20px;
  background-color: #ffccff; /* ライトグリーン */
  clear: both;/*「float」を指定した全ての要素の高さを認識して「margin-top（要素の上のスペース）」を自動調整*/
}
/* セクション：メインビジュアルを整える */
